################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

application/*.txt
application/asset/