################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

samples/demo/application/imgui.ini
samples/demo/application/*.txt
samples/demo/application/asset/