################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs

################################################################################
# Additional content to be ignored
################################################################################

**/bin/
**/bin-intermediate/
**.sln
**.user
**.filters
**.vcxproj
#**.exe
/doxygen/

/engine/vendors/
/engine/external/glad/bin/
/engine/external/glad/bin-int/
/engine/external/glfw/bin/
/engine/external/glfw/bin-int/
/engine/external/imgui/imgui/bin/
/engine/external/imgui/imgui/bin-int/
/engine/external/jsoncpp/bin/
/engine/external/jsoncpp/bin-int/
/engine/external/lua540/src/bin/
/engine/external/lua540/src/bin-int/
/engine/external/SOIL2/bin/
/engine/external/SOIL2/bin-int/
/engine/external/tileson/bin/
/engine/external/tileson/bin-int/

samples/demo/application/imgui.ini
samples/demo/application/*.txt
samples/demo/application/asset/